In [3]:
### Run this cell before continuing. 
library(tidyverse)
library(repr)
library(readxl)
options(repr.matrix.max.rows = 6)

In [6]:
adult_data <- read_csv("data/adult.data")
colnames(adult_data) <- c("age", "workclass", "fnlwgt", "education", "education_num", "marital_status", "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", "hours_per_week", "native_country", "income")
adult_data

Rows: 32560 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): State-gov, Bachelors, Never-married, Adm-clerical, Not-in-family, W...
dbl (6): 39, 77516, 13, 2174, 0, 40

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      age workclass        fnlwgt education education_num marital_status
1     50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
2     38  Private          215646 HS-grad    9            Divorced
3     53  Private          234721 11th       7            Married-civ-spouse
⋮     ⋮   ⋮                ⋮      ⋮         ⋮             ⋮
32558 58  Private          151910 HS-grad   9             Widowed
32559 22  Private          201490 HS-grad   9             Never-married
32560 52  Self-emp-inc     287927 HS-grad   9             Married-civ-spouse
      occupation        relationship  race  sex    capital_gain capital_loss
1     Exec-managerial   Husband       White Male   0            0
2     Handlers-cleaners Not-in-family White Male   0            0
3     Handlers-cleaners Husband       Black Male   0            0
⋮     ⋮                 ⋮             ⋮     ⋮      ⋮            ⋮
32558 Adm-clerical      Unmarried     White Female     0        0
32559 Adm-clerical      Own-child     White Male       0        0
32560 Exec-managerial   Wife          White Female 15024        0
      hours_per_week native_country income
1     13             United-States  <=50K
2     40             United-States  <=50K
3     40             United-States  <=50K
⋮     ⋮              ⋮              ⋮
32558 40             United-States  <=50K
32559 20             United-States  <=50K
32560 40             United-States  >50K